@page "/intro"

<h1>Welcome to IIC College</h1>


<img src="image/college.png" alt="College Photo" width="450" />

<p>
    Since 2017, Itahari International College has offered top-tier IT and Business programmes in partnership with London Metropolitan University, UK. It aims to produce globally competitive graduates, making it the first college in Itahari to provide a direct UK university degree. IIC nurtures future leaders and innovators by providing hands-on experiences, real-world projects, and a practical curriculum. Our commitment is evident in our alumni's successful careers and high placement rates. Itahari International College is a flagship institution of Innovate Nepal Group (ING).
</p>
